# This file contains default configuration for esp32-display-qemu-demo

# Logging
CONFIG_LOG_DEFAULT_LEVEL=2

# NVS
CONFIG_NVS_ENCRYPTION_ENABLED=n

# FreeRTOS
CONFIG_FREERTOS_TICK_RATE_HZ=100

# ESP32 Specific
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=160
CONFIG_ESP32_RTC_CLK_SRC=1

# Performance
CONFIG_OPTIMIZATION_LEVEL_RELEASE=y

# QEMU specific settings
CONFIG_SYSTEM_EVENT_QUEUE_SIZE=32
